/Packages
/Library
/Assets/CartoonVFX9X
/Assets/SineVFX/TopDownEffects/_Packages
/Assets/ToonyTinyPeople
/Assets/ToonTastic - Vegetation & Plants
/Design/out
/Temp
/Logs
/Design/Log
/obj
.vs/SanKingdom/v17/.suo
*.json
~*.xlsx
*.dwlt
/Tools/DesignCoder/DesignCoder/bin
/Tools/DesignCoder/DesignCoder/obj
Tools/DesignCoder/.vs/
.vs/*
